@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
	src:url("assets/fuentes/cs_regular.ttf");
	fontFamily: Counter-Strike;
	fontWeight: bold;
	fontStyle: normal;
	embedAsCFF:true;
	advancedAntiAliasing: true;
}


.CounterBorde
{
	backgroundAlpha: 0.0;
	backgroundColor: #D33434;
	color: #070707;
	fontFamily: Counter-Strike;
	fontSize: 120;
	fontWeight: bold;
	textAlign: center;
	themeColor: #E1DF24;
	advancedAntiAliasing: true;
	
	
}
s|Button
{
	font-family: Counter-Strike;
	font-size: 50;
	font-weight: bold;
	
}
global
{
	font-style: normal;
	font-weight: bold;
}



























